name: Main

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  main:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: dotnet.cmd cache
      uses: actions/cache@v5
      with:
        path: '~/.local/share/JetBrains/dotnet-cmd'
        key: ${{ runner.os }}-dotnet-${{ hashFiles('dotnet.cmd') }}

    - name: Install dependencies
      working-directory: src
      run: ../dotnet.cmd restore

    - name: Build
      run: ../dotnet.cmd build --configuration Release --no-restore
      working-directory: src
      
    - name: Test
      run: ../dotnet.cmd test --configuration Release --no-build
      working-directory: src

    - name: Publish net461
      run: ../../dotnet.cmd publish --framework net461 --configuration Release --no-build
      working-directory: src/RefasmerExe

    - name: Publish netcoreapp
      run: ../../dotnet.cmd publish --framework netcoreapp3.1 --configuration Release --no-build
      working-directory: src/RefasmerExe

    - name: Publish net5.0
      run: ../../dotnet.cmd publish --framework net5.0 --configuration Release --no-build
      working-directory: src/RefasmerExe

    - name: Publish net6.0
      run: ../../dotnet.cmd publish --framework net6.0 --configuration Release --no-build
      working-directory: src/RefasmerExe

    - name: Publish net7.0
      run: ../../dotnet.cmd publish --framework net7.0 --configuration Release --no-build
      working-directory: src/RefasmerExe

    - name: Upload the packages
      uses: actions/upload-artifact@v6
      with:
        name: nupkg
        path: |
          src/Refasmer/bin/Release/*.nupkg
          src/RefasmerCliTool/bin/Release/*.nupkg

    - name: Upload the executables
      uses: actions/upload-artifact@v6
      with:
        name: refasmer-exe
        path: |
          src/RefasmerExe/bin/Release/*/publish/**/*
